node_modules
dist
.env
.git
.github
.cursor
.idea
.vscode
.history
logs
*.log
*.md
!README.md
.gitleaks.toml
.eslintignore
.eslintrc.js
.prettierrc.json
tsconfig.eslint.json
jest.config.js
spur.yml
.mcp.json
