# Secrets
TELEGRAM_TOKEN=
MONGO_URL
STOCKS_API_TOKEN
SENTRY_URL=
CHATBASE_ANALYTICS_TOKEN=
BINANCE_APIKEY=
BINANCE_APISECRET=
CURRENCY_CONVERTER_APIKEY=
COINBASE_TOKEN=
BOSS_TG_ID=

# ByBit API
BYBIT_API_KEY=
BYBIT_API_SECRET=

# Config
NODE_EVN=development
